.sideBarContainer {
  position: relative;
  width: 372px;
  height: 100vh;
  z-index: 10;
  background-color: #3D3A50;
}

.title {
  margin: 10%;
  margin-bottom: 0px;
  font-family: Inria Sans;
  font-size: 32px;
  font-weight: 400;
  font-size: bold;
  color: var(--color-neutral-1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.title::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 10px;
  background-color: var(--color-primary-3);
}

.iconsDiv {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 60px;
  gap: 16px;
  padding-right: 18px;
}

.iconsDiv .icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px 0px;
}

.iconsDiv .icon:hover path {
  fill: var(--color-base-3);
}

/* Tasks */

.taskContainer {
  display: grid;
  justify-content: end;
  gap: 5px;
  margin-top: 50px;
}

.task {
  display: flex;
  width: 335px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  justify-content: space-around;
  align-items: center;
  justify-self: end;
  border-radius: 12px 0px 0px 12px;
  gap: 24px;
  transition: .3s;

}

.task:not(.taskActive):hover{
  cursor: pointer;
}

.task:not(.taskActive):hover p{
  color: var(--color-neutral-2);
}

.taskActive:hover {
  cursor: default;
}

.task p {
  margin: 0;
  padding: 0;
  color: var(--color-neutral-1);
  white-space: nowrap;
  font-size: 24px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 

.taskActive {
  background-color: var(--color-base-8);
}

.deleteTask {
  flex-grow: 0;
  min-width: 18px;
  min-height: 14px;
}

.deleteTask svg {
  max-width: 15px;
  max-height: 15px;
}

.deleteTask:hover {
  cursor: pointer;
}
