.sideBarContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 372px;
  height: 100vh;
  background-color: #3D3A50;
}

.title {
  margin: 10%;
  margin-bottom: 0px;
  font-family: Inria Sans;
  font-size: 32px;
  font-weight: 400;
  font-size: bold;
  color: var(--color-neutral-1);
  display: flex;
  align-items: center;
  gap: 10px;
}

.title::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 10px;
  background-color: var(--color-primary-3);
}

.iconsDiv {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 60px;
  gap: 16px;
  padding-right: 18px;
}

.iconsDiv .icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px 0px;
}

.iconsDiv .icon:hover path {
  fill: var(--color-base-3);
}
