.container {
  min-width: 480px;
  /* height: 100%; */
}

.containerIcons {
  margin: 2.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.closeTask {
  width: 26px;
  height: 27px;
}

.closeTask path {
  stroke: var(--color-base-4);
}

/* CONTEXT */

.containerContext {
  max-width: 820px;
  min-width: 60%;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.containerContext input,
.containerContext textarea {
  background-color: var(--color-base-8);
  resize: none;
  overflow: hidden;
}

.containerContext textarea{
  border: 0 none;
  outline: none;
  min-height: 800px;
}

input.title {
  max-width: 100%;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-neutral-1);
}

input.title::before {
  content: '';
  display: inline-block;
  width: 31px;
  height: 10px;
  background-color: var(--color-primary-3);
}

.context {
  color: var(--color-neutral-1);
  font-size: 24px;
  font-weight: 400;
}